Soft reset do CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background:linear-gradient(#373B44,#4286f4);
    background-size: 100vh;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

/* Breakpoint para o site resposivo */

@media (min-width: 400px) {
    body {
        font-size: 16px
    }
}
@media (min-width: 600px) {
    body {
        font-size: 18px
    }
}

a {
    text-decoration: none;
    color:white;
    font-family: 'Ranchers', cursive;
    font-size: 1.5em;
}

a:hover {
    text-decoration: underline;
}

.contato a {
    color: #02373A;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    transition: text-shadow 1s, text-decoration 1s;
}

.contato .grid-icons {
    display: grid;
    gap: 2em;
    justify-content: center;
    
}


@media (min-width: 450px){
    .contato .grid-icons {
    grid-template-columns: repeat(2,100px);
    }
}

.contato a:active, 
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 20px #5BEFDC;
}

.portfolio .grid {
    display: grid;
    gap: 10em;
    /* align-items: center; */
}

@media (min-width:550px){
    .portfolio .grid {
        grid-template-columns: 300px 300px
    }
    .contato .grid-icons {
        grid-template-columns: repeat(4,100px);
    }
}

@media (min-width:880px){
    .portfolio .grid {
        grid-template-columns: repeat(3,300px);
        justify-content: center;
    }
}


.portfolio figure {
    text-align: center;
    line-height: 2em;
}

.portfolio figcaption{
    font-size: 1.2em;
    text-align: center;
}
.menu {
    position: fixed;
    width: 50vw;
    top:0;
    z-index: 1;
}

.menu a{
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color, 1s;
}

.menu a:hover {
    background-color: rgba(91,239,220,0.5);
    color: black;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    
}

.img-portfolio {
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: transform 500ms;
}    

.img-portfolio:hover {
    transform: scale(1.2) rotate(2deg)
}

.site-subtitle{
    border-right: 2px solid rgb(255,255,255,.75);

}


.site-subtitle {
    animation: linkCursor 500ms steps(40) infinite normal,
    typing 8s steps(40) 1s normal both;
}

@keyframes linkCursor{
    from{
    border-right-color: rgba(255,255,255,.75);
    }
    to {
        border-right-color: transparent;
    }

}

@keyframes typing{
    from{
        width: 0;
    }
    to {
        width: 12em;
    }

}

.site-title, .site-subtitle {
    text-align: center;
    color: whitesmoke;
    
}

.site-title {
    font-size: 3em;
    font-family: 'Ranchers', cursive;
    text-shadow:black 7px 8px;
    line-height: 0.2em;
    
}

.site-subtitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio h2, .sobre h2, .contato h2{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2em;
    background-color: whitesmoke;
    background-size: 200vw;
    
}

.portfolio, .sobre, .contato {
    min-height: 100vh;
}



